.clockFace {
  position: relative;
  border: 2px solid black;
}

.tick {
  position: absolute;
	border-radius: 50%;
	background-color: red;
}

.hand {
  position: absolute;
  top: 0px;
}

.hand > hr {
  margin: 0px;
  width: inherit;
  background-color: black;
}

