.TimePicker {
  display: inline-block;
}

.clockFace {
  position: relative;
  /*border: 2px solid black;*/
}

.tick {
  position: absolute;
	border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.tickText {
  padding-left: 2px;
}

.clickZone {
  position: absolute;
  cursor: pointer;
	border-radius: 50%;
  background-color: transparent;
}

.hand {
  position: absolute;
  top: 0px;
}

.hand > hr {
  margin: 0px;
  width: inherit;
  background-color: black;
}

.display {
  text-align: center;
  height: 40px;
}

